.ontodia {
  display: flex;
  flex-direction: column;
  height: 100%;
  // defaults for inheritable properties
  box-sizing: border-box;
  white-space: initial;
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.42857;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  &__toolbar-widget {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &__workspace {
    display: flex;
    flex: auto;
    overflow: hidden;
    flex-direction: column;
  }

  &__main-panel {
    display: flex;
    flex: auto;
    overflow: hidden;
    width: 0;
  }

  &--unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &--horizontal-resizing * { cursor: ew-resize !important; }
  &--vertical-resizing * { cursor: ns-resize !important; }

  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  select {
    color: inherit;
    margin: 0;
    font: inherit;
    line-height: inherit;
    text-transform: none;
  }

  hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
  }
}

.ontodia-scrollable {
  flex: 1 1 0px; // IE 11 requires a unit to be added to the third argument
  overflow-y: scroll;
}

// fixes the bug in Chrome with redrawing children in scrollable elements
.ontodia-scrollable > * {
  position: relative;
}
