.ontodia {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  &__workspace {
    display: flex;
    flex: auto;
    overflow: hidden;
  }

  &__main-panel {
    display: flex;
    flex: auto;
    overflow: hidden;
    width: 0;
  }

  &--unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &--horizontal-resizing * { cursor: ew-resize !important; }
  &--vertical-resizing * { cursor: ns-resize !important; }
}
