.ontodia-overlayed-element {
  cursor: move;
  outline: none;
}

.ontodia-overlayed-element,
.ontodia-exported-element {
  // set defaults for all inherited properties
  box-sizing: border-box;
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;

  // http://stackoverflow.com/questions/6664460/line-height-affects-images
  img { vertical-align: middle; }
}

.ontodia-exported-element {
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.ontodia-overlayed-element--blurred {
  filter: grayscale(100%);
  opacity: 0.5;
}
