.ontodia-overlayed-owl_element {
  cursor: move;
  outline: none;
}

.ontodia-overlayed-owl_element,
.ontodia-exported-owl_element {
  // set defaults for all inherited properties
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: grey;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;

  // http://stackoverflow.com/questions/6664460/line-height-affects-images
  img { vertical-align: middle; }
}

.ontodia-exported-owl_element {
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

// remove link fill on exported SVG
.link .connection { fill: none; }
.link .connection-wrap {
  fill: none;
  opacity: 0;
}
