.paper-area {
  flex: auto;
  cursor: default;
  overflow: scroll;

  background-image: url('../images/transparent-background.png');
  .paper {
    margin: 0;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    background-color: white;

    > svg {
      foreignObject > div {
        outline: none;
      }
    }
  }
}

.uiElementView__iri {
    fill: #969696;
    font-size: smaller;
}
