.ontodia-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  text-transform: none;
  transition: background-color 0.3s;

  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}


.ontodia-btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
  }

  &.active:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }

  &[disabled], &[disabled]:hover, &[disabled].active, &[disabled].active:hover {
    background-color: #e0e0e0;
  }
}

.ontodia-btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 122, 183);
  border-color: #245580;

  &:hover, &:focus, &:active {
    background-color: #265a88;
  }

  &:hover, &:focus {
    border-color: #204d74;
  }

  &.active {
    border-color: #245580;
  }

  &[disabled], &[disabled]:hover, &[disabled]:focus, &[disabled]:active, &[disabled].active {
    background-color: #265a88;
  }
}

.ontodia-btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background: darken(#5cb85c, 8%);
  }
}

.ontodia-btn-danger {
  background-color: #c9302c;
  border-color: #c9302c;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background: darken(#c9302c, 8%);
  }
}
