.ontodia-form-control {
  display: block;
  width: 100%;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  transition: border-color ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
  }

  &:disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
