.ontodia-list-group {
  margin: 0;
  padding: 0;
}

.ontodia-list-group-item:last-child {
  margin-bottom: 0;
}

.ontodia-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
