.ontodia-blank-node-template {
  width: 25px;
  height: 25px;
  float: left;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  background: #dbdbdb;
  border-color: #929292;

  &:hover {
    background: #cbcbcb;
  }
}
