.ontodia-default-icon::after {
  content: "\25EF";
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  overflow: hidden;
  font-style: normal;
  font-size: 12px;
}

.ontodia-class-icon::after {
  content: "C";
  font-weight: bold;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  overflow: hidden;
  font-style: normal;
}
.jstree-icon.jstree-themeicon-custom.ontodia-tree-icon.ontodia-class-icon {
  color: #eaac77;
  background-color: #fff6f0;
  border: 1px solid #d99292;
}

.ontodia-object-property-icon::after {
  content: "OP";
  font-weight: bold;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  overflow: hidden;
  font-style: normal;
}

.jstree-icon.jstree-themeicon-custom.ontodia-tree-icon.ontodia-object-property-icon {
  font-size: 11px;
  color: #34c7f3;
  border: 1px solid #2dd6e6;
}

.ontodia-datatype-property-icon::after {
  content: "DP";
  font-weight: bold;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  overflow: hidden;
  font-style: normal;
}
.jstree-icon.jstree-themeicon-custom.ontodia-tree-icon.ontodia-datatype-property-icon {
  font-size: 11px;
  color: #34c7f3;
}

$icons: (
  'person' #eb7777,
  'country' #77ca98,
  'organization' #77ca98,
  'location' #bebc71,
  'event' #b4b1fb,
  'object' #53ccb2
);

@each $icon in $icons {
  $class: nth($icon, 1);
  $color: nth($icon, 2);

  .ontodia-#{$class}-icon:after {
    background: url("../images/icons/#{$class}.svg") no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 26px;
    width: 26px;
  }

  .jstree-icon.jstree-themeicon-custom.ontodia-tree-icon.ontodia-#{$class}-icon {
    background: #fff;
    border-color: $color;
  }

  .jstree-icon.jstree-themeicon-custom.ontodia-tree-icon.ontodia-#{$class}-icon:after {
    height: 12px;
    width: 12px;
  }
}

.jstree-default .jstree-icon.jstree-themeicon-custom.ontodia-tree-icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
}
.jstree-icon.jstree-themeicon-custom.ontodia-tree-icon {
  color: #1573b0;
  background-color: aliceblue;
  border-radius: 15px;
  border: 1px solid #92bdd9;
  overflow: hidden;
  font-size: 15px;
}
