.ontodia-left-bar-template {
  max-width: 400px;
  float: left;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.ontodia-left-bar-template_body {
  height: 100%;
  border-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 2px 10px 0px 6px;
  margin-left: 13px;
  background: white;
  overflow: hidden;
}

.ontodia-left-bar-template_body__image {
  width: 100%;
  margin: 5px 0px;
  border: 1px solid #bdbdbd; 
}

.ontodia-left-bar-template_body_type-line {
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: -3px;
  align-items: baseline;
}

.ontodia-left-bar-template_body_type-line__icon {
  position: inherit !important;
  margin-right: 4px;
}

.ontodia-left-bar-template_body_type-line__type {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 100;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ontodia-left-bar-template_body__label {
  font-size: 19px;
  white-space: nowrap;
  font-weight: 100;
  margin-bottom: -3px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ontodia-left-bar-template_body_expander {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.ontodia-left-bar-template_body_expander__iri_label {
  font-size: 12px;
  font-weight: 100;
  margin-right: 4px;
  color: #b6b6b6;
}

.ontodia-left-bar-template_body_expander_iri {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ontodia-left-bar-template_body_expander_iri__link {
  color: #b6b6b6;
}

.ontodia-left-bar-template_body_expander__hr {
  margin: 5px 0px 5px 0px;
}

.ontodia-left-bar-template_body_expander_property-table {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ontodia-left-bar-template_body_expander_property-table_row {
  white-space: nowrap;
}

.ontodia-left-bar-template_body_expander_property-table_row__key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-left-bar-template_body_expander_property-table_row_key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-left-bar-template_body_expander_property-table_row_key_values {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ontodia-left-bar-template_body_expander_property-table_row_key_values__value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  padding-right: 10px;
}
