.ontodia-person-container {
  max-width: 400px;
  float: left;
}

.ontodia-person-template {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.ontodia-person-template_body {
  margin-left: 13px;
  height: 100%;
  border-radius: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 3px 12px 3px 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.ontodia-person-template_body_main-part__label {
  font-size: 19px;
  white-space: nowrap;
  font-weight: 100;
  margin-bottom: -7px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ontodia-person-template_body_main-part_type-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  font-style: italic;
  color: #afafaf;
  font-weight: 100;
  display: flex;
}

.ontodia-person-template_body_main-part_type-container__type {
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ontodia-person-template_body__icon {
  position: inherit !important;
  font-size: 30px;
  margin: 5px 10px 5px 10px;
  border: 1px solid;
  /*padding: 5px 6px;*/
  flex-grow: 0;
}

.ontodia-person-template_body_photo {
  position: inherit !important;
  font-size: x-large;
  margin: 5px 8px 5px 8px;
  border: 1px solid;
  flex-grow: 0;
  height: 40px;
}

.ontodia-person-template_body_photo__image {
  height: 100%;
}

.ontodia-person-template_body_main-part {
  flex-grow: 1;
}

.ontodia-person-template_property {
  border-radius: 10px;
  background-color: white;
  margin-top: 5px;
  border: 1px solid;
}

.ontodia-person-template_property_content {
  width: 100%;
  height: 100%;
  padding: 9px;
}

.ontodia-person-template_property_content_iri-line {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.ontodia-person-template_property_content_iri-line__label {
  font-size: 12px;
  font-weight: 100;
  margin-right: 4px;
  color: #b6b6b6;
}

.ontodia-person-template_property_content_iri-line__iri {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ontodia-person-template_property_content_iri-line__iri a {
  color: #b6b6b6;
}

.ontodia-person-template_property__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
}

.ontodia-person-template_property_content__hr {
  margin: 5px 0px 5px 0px;
}

.ontodia-person-template_property_content_property-table {
  font-size: 15px;
  font-weight: 100;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ontodia-person-template_property_content_property-table_row {
  white-space: nowrap;
}

.ontodia-person-template_property_content_property-table_row__key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-person-template_property_content_property-table_row_key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-person-template_property_content_property-table_row_key_values {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ontodia-person-template_property_content_property-table_row_key_values__value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  padding-right: 10px;
}
