.ontodia-vowl-property-template {
  margin: auto;
  max-height: 53px;
  max-width: 170px;
  border-style: solid;
  border-width: 2px;

  &__picture {
    margin: 5px 0px;
    border: 1px solid;
  }
  &__picture-image {
    width: 100%;
  }
  
  &__name {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19px;
    font-weight: 100;
  }

  &_body {
    height: 100%;
    width:  100%;
    overflow: hidden;
    padding: 7px 10px 0px 10px; 
    &:hover{
      background-color: red;
    }

    &_type-line {
      display: flex;
      overflow: hidden;
      margin-top: 0px;
      margin-bottom: -3px;
      align-items: baseline;

      &__icon {
        position: inherit !important;
        margin-right: 4px;
      }

      &__type {
        white-space: nowrap;
        font-size: 12px;
        font-weight: 100;
        width: 0;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &_expander {
      width: 100%;
      overflow: hidden;
      display: flex;

      &_iri {
        font-size: 12px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_label {
          font-size: 12px;
          font-weight: 100;
          margin-right: 4px;
          color: #b6b6b6;
        }

        &__link {
          color: #b6b6b6;
        }
      }

      &__hr {
        margin: 5px 0px 5px 0px;
      }

      &_property-table {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 5px;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;

        &_row {
          white-space: nowrap;

          &__key {
            display: inline-block;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;
          }

          &_key {
            display: inline-block;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;

            &_values {
              display: inline-block;
              width: 50%;
              text-overflow: ellipsis;
              overflow: hidden;

              &__value {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
