.ontodia-VOWLDatatypeObjectProperty_template {
  margin: auto;
  max-height: 53px;
  max-width: 170px;
  border-style: solid;
  border-width: 2px;

  &__picture {
    margin: 5px 0px;
    border: 1px solid;
  }
  &__picture-image {
    width: 100%;
  }

  &__name {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19px;
    font-weight: 100;
  }
}

.ontodia-VOWLDatatypeObjectProperty_template_body {
  height: 100%;
  width:  100%;
  overflow: hidden;
  padding: 7px 10px 0px 10px; 
  &:hover
  {
    background-color: red;
  }
}

.ontodia-VOWLDatatypeObjectProperty_template_body_type-line {
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: -3px;
  align-items: baseline;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_type-line__icon {
  position: inherit !important;
  margin-right: 4px;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_type-line__type {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 100;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander__iri_label {
  font-size: 12px;
  font-weight: 100;
  margin-right: 4px;
  color: #b6b6b6;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_iri {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_iri__link {
  color: #b6b6b6;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander__hr {
  margin: 5px 0px 5px 0px;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table_row {
  white-space: nowrap;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table_row__key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table_row_key {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table_row_key_values {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ontodia-VOWLDatatypeObjectProperty_template_body_expander_property-table_row_key_values__value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  padding-right: 10px;
}
