.ontodia-class-tree {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__filter {
    flex-shrink: 0;
    margin: 10px 0 10px 0;
  }

  &__filter-group {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__rest {
    height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    border-top: 1px solid rgb(221, 221, 221);
  }

  .jstree-icon.default-tree-icon::after {
    content: url("../images/tree-leaf.png");
    max-width: 19px;
    max-height: 19px;
    margin: 2px;
  }

  .ontodia-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: middle;
  }

  .jstree-icon.parent-tree-icon::after {
    content: url("../images/tree-leaf-folder.png");
    max-width: 19px;
    max-height: 19px;
    margin: 2px;
  }
}
