.ontodia-class-tree {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__filter {
    flex-shrink: 0;
    margin: 10px 0 10px 0;
  }

  &__filter-group {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__only-creatable {
    display: block;
    margin-top: 5px;
  }

  &__tree {
    border-top: 1px solid rgb(221, 221, 221);
  }

  &__spinner {
    align-self: center;
    /* center vertically in flexbox */
    margin: auto;
  }
}

.ontodia-class-leaf {
  margin: 1px 0;

  &__row {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    > * { flex-shrink: 0; }
  }

  &__body { 
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
    border: 1px solid;
    border-color: transparent;
    &:hover {
      background: #dcebff91;
      border-color: #ccefff;
      cursor: pointer;
    }
    &--selected {
      background-color: #beebff;
      border-color: #8edcff;
    }
  }

  &__icon-container {
    height: 20px;
  }

  &__icon {
    display: block;
    height: 100%;
  }

  &__label {
    margin-left: 5px;
    color: black;
  }

  &__highlighted-term {
    font-weight: bold;
  }

  &__count {
    margin-left: 5px;
  }

  &__children {
    margin-left: 20px;
  }

  &__no-toggle {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  &__toggle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    &:hover:not(:empty) {
      background: #dcebff91;
      cursor: pointer;
    }
  }

  &__toggle-icon {
    display: block;
    height: 100%;
  }

  &__create {
    margin-left: 5px;
    > button {
      cursor: move;
    }
  }
}
