.ontodia-dialog {
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0 4px 15px 7px rgba(51, 51, 51, 0.05);
  position: absolute;

  &__caption {
    font-weight: bold;
    position: absolute;
    top: -11px;
    left: 10px;
    background: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
  }

  &__close-button {
    background: transparent url("../images/font-awesome/times-circle-regular.svg");
    background-size: contain;
    border: 0 none;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    position: absolute;
    top: -22px;
    right: -22px;
    height: 20px;
    width: 20px;

    opacity: 0.5;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.ontodia-dialog__bottom-right-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent rgba(0, 0, 0, 0.38) transparent;
  cursor: nwse-resize;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 5px 5px;
    border-color: transparent transparent rgba(0, 0, 0, 0.38) transparent;
  }

  &:hover {
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
  }
}

.ontodia-dialog__bottom-handle, .ontodia-dialog__right-handle {
  position: absolute;
  opacity: 0;
  background-color: black;

  &:hover {
    opacity: 0.1;
  }
}

.ontodia-dialog__bottom-handle {
  bottom: 0;
  width: 100%;
  height: 5px;
  cursor: ns-resize;
}

.ontodia-dialog__right-handle {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}
