.ontodia-dialog {
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0 4px 15px 7px rgba(51, 51, 51, 0.05);
  position: absolute;

  &__caption {
    font-weight: bold;
    position: absolute;
    top: -11px;
    left: 10px;
    background: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
  }
}
