.ontodia-edit-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    overflow: auto;
    padding: 10px;
    flex: 1 1 100%;
  }

  &__controls {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: right;
    flex: 0 0 auto;
  }

  &__apply-button {
    margin-right: 5px;
  }

  &__form-row {
    display: block;
    margin-bottom: 10px;
  }
}
