.ontodia-halo {
  position: absolute;
  pointer-events: none;

  $buttonWidth: 20px;
  $buttonHeight: 20px;
  $buttonMargin: 2px;

  @mixin halo-button {
    position: absolute;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0 none;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    width: $buttonWidth;
    height: $buttonHeight;

    opacity: 0.5;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  @mixin spinner {
    position: absolute;
    width: $buttonWidth;
    height: $buttonHeight;
  }

  &__navigate {
    @include halo-button;
    top: 50%;
    margin-top: -($buttonHeight / 2);
    right: -($buttonWidth + $buttonMargin);

    &--open {
      background-image: url("../images/connections.svg");
    }

    &--closed {
      background-image: url("../images/close-connections.svg");
    }
  }

  &__remove {
    @include halo-button;
    background-image: url("../images/delete.svg");
    top: -($buttonHeight + $buttonMargin);
    right: -($buttonWidth + $buttonMargin);
  }

  &__expand {
    @include halo-button;
    bottom: -($buttonHeight + $buttonMargin);
    left: 50%;
    margin-left: -($buttonWidth / 2);

    &--open {
      background-image: url("../images/expand-properties.png");
    }

    &--closed {
      background-image: url("../images/collapse-properties.png");
    }
  }

  &__add-to-filter {
    @include halo-button;
    background-image: url("../images/add-to-filter.png");
    bottom: -($buttonHeight + $buttonMargin);
    right: -($buttonWidth + $buttonMargin);
  }

  @mixin edit {
    bottom: -($buttonHeight + $buttonMargin);
    left: -($buttonWidth + $buttonMargin);
  }

  &__edit {
    @include halo-button;
    @include edit;
    background-image: url("../images/font-awesome/edit.svg");
  }

  &__edit-spinner {
    @include spinner;
    @include edit;
  }

  @mixin delete {
    top: -($buttonHeight + $buttonMargin);
    left: 50%;
    margin-left: -($buttonWidth / 2);
  }

  &__delete {
    @include halo-button;
    @include delete;
    background-image: url("../images/font-awesome/trash-alt.svg");
  }

  &__delete-spinner {
    @include spinner;
    @include delete;
  }

  @mixin establish-connection {
    top: -($buttonHeight + $buttonMargin);
    left: -($buttonWidth + $buttonMargin);
  }

  &__establish-connection {
    @include halo-button;
    @include establish-connection;
    background-image: url("../images/font-awesome/plug.svg");
  }

  &__establish-connection-spinner {
    @include spinner;
    @include establish-connection;
  }
}
