.ontodia-halo {
  position: absolute;
  pointer-events: none;

  $buttonWidth: 20px;
  $buttonHeight: 20px;
  $buttonMargin: 2px;

  @mixin halo-button {
    position: absolute;
    background-size: cover;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.5;
    transition: opacity 0.3s;
    width: $buttonWidth;
    height: $buttonHeight;
  }

  &__navigate {
    @include halo-button;
    top: 50%;
    margin-top: -($buttonHeight / 2);
    right: -($buttonWidth + $buttonMargin);

    &:hover {
      opacity: 1;
    }

    &--open {
      background-image: url("../images/connections.svg");
    }

    &--closed {
      background-image: url("../images/close-connections.svg");
    }
  }

  &__delete {
    @include halo-button;
    background-image: url("../images/delete.svg");
    top: -($buttonHeight + $buttonMargin);
    right: -($buttonWidth + $buttonMargin);

    &:hover {
      opacity: 1;
    }
  }

  &__expand {
    @include halo-button;
    bottom: -($buttonHeight + $buttonMargin);
    left: 50%;
    margin-left: -($buttonWidth / 2);

    &:hover {
      opacity: 1;
    }

    &--open {
      background-image: url("../images/expand-properties.png");
    }

    &--closed {
      background-image: url("../images/collapse-properties.png");
    }
  }

  &__add-to-filter {
    @include halo-button;
    background-image: url("../images/add-to-filter.png");
    bottom: -($buttonHeight + $buttonMargin);
    right: -($buttonWidth + $buttonMargin);

    &:hover {
      opacity: 1;
    }
  }

  &__edit {
    @include halo-button;
    background-image: url("../images/edit.svg");
    bottom: -($buttonHeight + $buttonMargin);
    left: -($buttonWidth + $buttonMargin);

    &:hover {
      opacity: 1;
    }
  }

  &__establish-connection {
    @include halo-button;
    background-image: url("../images/establish-connection.svg");
    top: -($buttonHeight + $buttonMargin);
    left: -($buttonWidth + $buttonMargin);

    &:hover {
      opacity: 1;
    }
  }
}
