.ontodia-list-element-view {
  position: relative;
  display: block;
  background: #808080;
  padding: 1px 1px 1px 10px;
  border-radius: 2px;
  margin: 0 0 2px 0;
  opacity: 1.0;
  cursor: move;
  user-select: none;

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }

  &__label {
    background: white;
    border-radius: 0 2px 2px 0;
    font-family: "Andale Mono", sans-serif;
    font-size: 15px;
    min-height: 1.3em;
    padding-left: 7px;
    padding-right: 5px;
    overflow-wrap: break-word;
  }
}

.ontodia-text-highlight {
  font-weight: bold;
}
