.ontodia-toolbar {
  &__language-selector {
    padding: 5px;
    margin-top: 4px;

    > label {
      margin-right: 5px;
      > span { vertical-align: middle; }
    }
  }

  &__toggle {
    line-height: 1;
  }

  &__toggle:after {
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 12px;
    margin: 3px 0;
    width: 12px;
  }

  &__toggle-left:after {
    background-image: url('../images/left-panel.svg');
  }

  &__toggle-right:after {
    background-image: url('../images/right-panel.svg');
  }

  &__toggle.active {
    border-color: #c3c3c3;
  }

  &__toggle-left.active:after {
    background-image: url('../images/left-panel-active.svg');
  }

  &__toggle-right.active:after {
    background-image: url('../images/right-panel-active.svg');
  }
}

.ontodia-toolbar {
  &__layout-group {
    margin: 5px;
    height: 30px;
    float: left;
  
    > label {
      margin-right: 5px;
    }
  
    .btn-group,button {
      height: 100%;
    }
  }
}

.ontodia-toolbar {
  background: rgba(0, 0, 0, 0.15);
}

.ontodia-toolbar > .ontodia-btn-group {
  margin-left: 10px;
}

.ontodia-toolbar > .ontodia-btn-group > button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ontodia-toolbar .ontodia-toolbar__undo,
.ontodia-toolbar .ontodia-toolbar__redo {
  display: none;
}

