<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        html, body, #root {
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        .demoSelector {
            position: absolute;
            top: 10px;
            right: 15px;
            padding: 2px 10px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <body>
        <select class="demoSelector" onchange="window.location.href = this.value">
            <option value="index.html">Local</option>
            <option value="rdf.html">RDF</option>
            <option value="sparql.html">SparQL</option>
            <option value="dbpedia.html">DBPedia demo</option>
            <option value="sparqlNoStats.html">SparQL with no stats</option>
            <option value="sparqlConstruct.html">SparQL Construct</option>
            <option value="sparqlRDFGraph.html">SparQL RDF Graph</option>
            <option value="sparqlTurtleGraph.html">SparQL Turtle Graph</option>
            <option value="styleCustomization.html">Style customization</option>
            <option value="wikidata.html">Wikidata</option>
            <option value="composite.html">Composite</option>
            <option value="wikidataGraph.html">WikidataGraph</option>
            <option value="toolbarCustomization.html">Toolbar customization</option>
        </select>
        <script>
            var pathname = window.location.pathname;
            var separatorIndex = pathname.lastIndexOf('/');
            var page = separatorIndex >= 0 ? pathname.substring(separatorIndex + 1) : pathname;
            document.querySelector('.demoSelector').value = page || 'index.html';
        </script>
    </body>
</html>
