<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        html, body, #root {
            height: 100%;
            overflow: hidden;
        }
        .demoSelector {
            position: absolute;
            top: 10px;
            right: 15px;
            padding: 2px 10px;
        }
    </style>
    <body>
        <select class="demoSelector" onchange="window.location.href = this.value">
            <option value="/">Local</option>
            <option value="/sparql.html">SparQL</option>
            <option value="/sparqlConstruct.html">SparQL Construct</option>
            <option value="/sparqlRDFGraph.html">SparQL RDF Graph</option>
            <option value="/styleCustomization.html">Style customization</option>
            <option value="/wikidata.html">Wikidata</option>
        </select>
        <script>
            document.querySelector('.demoSelector').value = window.location.pathname;
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
    </body>
</html>
