/* JointJS */
.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }
.marker-arrowheads { display: none }
.selection .handle.rotate { display: none; } /* disables the rotate tool */

/* JointJS Halo */
.halo .handle.clone { display: none; }
.halo .handle.fork { display: none; }
.halo .handle.link { display: none; }
.halo .handle.unlink { display: none; }
.halo .handle.resize { display: none; }
.halo label {
    max-width: inherit;
    font-weight: normal;
}
.halo .handles .handle {
    opacity: 0.4;
    transition: opacity 200ms 0ms;
}
.halo .handles .handle:hover {
    opacity: 1.0;
    transition: opacity 200ms 0ms;
}

.selection-wrapper[data-selection-length="1"] {
    display: inherit;
}
/* HACK: temporary fix for shifted selection box */
.selection-wrapper {
    margin-left: 0 !important;
    margin-top: 0 !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paper-area, .paper-scroller {
    cursor: default;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}
.paper-area > .paper, .paper-scroller > .paper {
    margin: 0;
    position: relative;
    display: inline-block;
    border: 1px solid black;
}
.paper-area > .paper > svg {
    display: block;
}

/* Ontodia components */
.filter-view {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */
}
.filter-view .btn.btn-default {
    border-color: rgb(195, 195, 195);
}
.stateBasedProgress .progress {
    flex-shrink: 0;
    -webkit-flex-shrink: 0; /* safari 8 */
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}
.stateBasedProgress:not([data-state]) .progress {
    height: 0;
}
.stateBasedProgress[data-state='querying'] .progress,
.stateBasedProgress[data-state='error'] .progress {
    /* property name | duration | delay */
    transition: height 300ms 300ms;
}
.stateBasedProgress[data-state='error'] .progress-bar {
    background-color: #E72F2F;
}
.stateBasedProgress[data-state='finished'] .progress {
    height: 0;
    /* property name | duration | delay */
    transition: height 200ms 0ms;
}
.filter-view .filter-criteria {
    flex-shrink: 0;
    -webkit-flex-shrink: 0; /* safari 8 */
    margin: 10px 0 10px 0;
}
.filter-view .filter-criteria > ul {
    padding-left: 15px;
}
.filter-view .filter-criteria > ul:empty {
    margin-bottom: 0;
}
.filter-view .filter-criteria .input-group {
    margin: 0 10px;
}
.filter-view .criterion {
    display: block;
    position: relative;
    width: 100%;
}
.filter-view .criterion .class-label {
    border: black 1px dashed;
    background: rgb(255, 210, 33);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
}
.filter-view .criterion .element-label {
    border: black 1px dashed;
    background: rgb(255, 131, 92);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
}
.filter-view .criterion .link-type-label {
    border: black 1px dashed;
    background: rgb(202, 255, 206);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
}
.filter-view .criterion .btn-group {
    float: right;
    margin: 0 10px 4px 4px;
}
.filter-view .filter-rest {
    height: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1; /* safari 8 */
    overflow-y: scroll;
    border-top: 1px solid rgb(221, 221, 221);
}
.filter-view .filtered-items {
    padding-left: 0;
    padding-top: 10px;
    margin: 0 10px 0 10px;
}
.filter-view[data-state='finished'] .filtered-items:empty:before {
    content: 'No items correspond to the specified criteria.';
    font-style: italic;
}
.filter-view .filtered-items li {
    display: block;
    background: #808080;
    padding: 1px 1px 1px 20px;
    border-radius: 10px;
    margin: 0 0 2px 0;
    opacity: 1.0;
    cursor: move;
}
.filter-view .filtered-items li[data-presentOnDiagram=true] {
    opacity: 0.4;
    cursor: default;
}
.filter-view .filtered-items li > div {
    background: white;
    border-radius: 10px;
    font-family: "Andale Mono", sans-serif;
    font-size: 15px;
    min-height: 1.3em;
    padding-left: 7px;
    padding-right: 5px;
    overflow-wrap: break-word;
}
.filter-view .filter-rest > div:last-child {
    margin: 5px 10px 15px 10px;
}
.filter-view .filter-rest > div:last-child button {
    width: 100%;
}
.link-types-toolbox {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */
    margin-bottom: 0;
}
.link-types-toolbox .panel-heading {
    flex-shrink: 0;
    -webkit-flex-shrink: 0; /* safari 8 */
}
.link-types-toolbox .link-lists {
    flex-grow: 1;
    -webkit-flex-grow: 1; /* safari 8 */
    height: 0;
    overflow-y: scroll;
}
.link-types-toolbox ul {
    margin-bottom: 0;
}
.link-types-toolbox .links-heading {
    margin-left: .4em;
}
.link-types-toolbox .links-heading span {
    border: black 1px dashed;
    background: rgb(255, 131, 92);
    padding: 0 .5em 0 .5em;
    word-wrap: break-word;
    line-height: 1.3;
}
.link-types-toolbox-heading {
    background-color: #f5f5f5;
}
.link-types-toolbox-heading .link-types-toolbox-controls {
    padding: 5px 15px;
    font-size: 14px;
    font-style: italic;
}
.link-types-toolbox-heading .link-types-toolbox-controls > span {
    padding-left: .3em;
}
.list-group .linkInToolBox {
    padding: 0 0 0 5px;
    word-break: break-word;
}
.linkInToolBox > div {
    display: inline;
}
.linkInToolBox .label {
    margin-left: .5em;
    white-space: normal;
    word-wrap: normal;
}

.linkInToolBox .badge {
    display: none;
    margin-left: .5em;
    white-space: normal;
    word-wrap: normal;
}
.connected-links .linkInToolBox .badge {
    /* show connection count badge only in "Connected to Element" list */
    display: inline;
}
.linkInToolBox .link-title {
    font-size: 16px;
    color: black;
    display: inline;
}
.linkInToolBox .btn-group {
    float: left;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 2px;
}
.linkInToolBox .btn.btn-default {
    border-color: rgb(195, 195, 195);
}
.linkInToolBox .filter-button {
    display: none;
    float: right;
    margin: 3px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 200ms 0ms;
}
.linkInToolBox:hover .filter-button {
    opacity: 1.0;
    transition: opacity 200ms 0ms;
}
.connected-links .linkInToolBox .filter-button {
    /* show filter button only in "Connected to Element" list */
    display: inline;
}
.linkInToolBox .filter-button img {
    content: url("../images/add-to-filter.png");
    width: 20px;
    height: 20px;
}
.link-in-popup-menu .filter-button img {
    opacity: 0.4;
    margin-left: 10px;
    content: url("../images/add-to-filter.png");
    width: 20px;
    height: 20px;
}
.link-in-popup-menu .filter-button img:hover {
    opacity: 1;
}

/* jsTree.css */
.jstree-icon.default-tree-icon::after {
    content: url("../images/tree-leaf.png");
    max-width: 19px;
    max-height: 19px;
    margin: 2px;
}

.ontodia-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: middle;
}

.jstree-icon.parent-tree-icon::after {
    content: url("../images/tree-leaf-folder.png");
    max-width: 19px;
    max-height: 19px;
    margin: 2px;
}

/* diagram.css */

.ontodia-toolbar {
    background: rgba(0, 0, 0, 0.15);
}
.ontodia-toolbar > .btn-group {
    margin-left: 160px;
}
.ontodia-toolbar > .btn-group > button {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ontodia-toolbar .ontodia-toolbar__undo,
.ontodia-toolbar .ontodia-toolbar__redo {
    display: none;
}
#saveToSelf span {
    color: #0C8BFF;
}
#resetDiagram span {
    color: #E2A000;
}
.ontodia-toolbar .languageSelector {
    padding: 5px;
    margin-top: 4px;
}
.ontodia-toolbar .languageSelector > label > span {
    vertical-align: middle;
}
.ontodia-workspace {
    display: flex;
    flex-grow: 1;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-grow: 1; /* safari 8 */
    height: 0;
}
.ontodia-left-panel {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */
    width: 15%;
    border-right: 1px solid lightgray;
}
.ontodia-main-panel {
    flex-grow: 1;
    -webkit-flex-grow: 1; /* safari 8 */
    width: 0;
    overflow: hidden;
}
.ontodia-main-panel .paper-area, .ontodia-main-panel .paper-scroller {
    background-image: url('../images/transparent-background.png');
}
.ontodia-main-panel .paper-area svg, .ontodia-main-panel .paper-scroller svg {
    background-color: white;
}
.ontodia-right-panel {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */
    width: 15%;
    border-left: 1px solid lightgray;
}
.ontodia-widget {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */
    border-top: 1px solid lightgray;
}
.ontodia-widget-heading {
    flex-shrink: 0;
    font-size: 16px;
    background: #E4E4E4;
    padding: 1px 0.5em;
    cursor: default;
    /* unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.intro-additional-overlay {
    position: absolute;
    z-index: 9999999;
}
.intro-additional-overlay img {
    height: 100%;
}

.ontodia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.ontodia-header {
    display: flex;
    flex-direction: column;
    display: -webkit-flex; /* safari 8 */
    -webkit-flex-direction: column; /* safari 8 */

    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.filter-item__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.filter-item__body {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.filter-item {
    box-sizing: border-box;
    flex: 1;
    position: relative;
}

.filter-item__header {
    padding-left: 20px;
    position: relative;
}

.filter-item__header:before {
    border-top: 6px solid #555555;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    margin-top: -3px;

    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
}

.filter-item__handle {
    height: 5px;
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    z-index: 2;
}

.filter-item.closed .filter-item__header:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.filter-item.closed .filter-item__handle, .filter-item.closed .filter-item__body {
    display: none;
}


.filter-panel {
    display: block;
    position: relative;
}

.filter-panel__handle {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2PcvHnzf19fX0YGKIAzMARgKjFUAABdvQgFy9518AAAAABJRU5ErkJggg==) repeat;
    height: 100%;
    position: absolute;
    top: 0;
    width: 8px;
    z-index: 2;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.filter-panel.ontodia-left-panel {
    margin-right: 8px;
}

.filter-panel.ontodia-right-panel {
    margin-left: 8px;
}

.ontodia-left-panel .filter-panel__handle {
    right: -8px;
}

.ontodia-right-panel .filter-panel__handle {
    left: -8px;
}

.filter-panel__handle-btn {
    background: #eee;
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.filter-panel__handle-btn::before {
    background-position: 0 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.ontodia-left-panel .filter-panel__handle-btn::before {
    background-image: url("../images/arrow-left.png");
}

.ontodia-right-panel .filter-panel__handle-btn::before {
    background-image: url("../images/arrow-right.png");
}

.filter-panel__handle-btn:hover {
    background: #b3b3b3;
    transform: scale(1.2);
}

.ontodia-left-panel .filter-panel__handle-btn:hover::before {
    background-image: url("../images/arrow-left1.png");
}

.ontodia-right-panel .filter-panel__handle-btn:hover::before {
    background-image: url("../images/arrow-right1.png");
}

.filter-panel__handle-btn.active::before {
    transform: rotate(180deg);
}

.uiElementView__iri {
    fill: #969696;
    font-size: smaller;
}


/* Halo */

.ontodia-halo {
    position: absolute;
    pointer-events: none;
}

.ontodia-halo__navigate {
    background-size: cover;
    cursor: pointer;
    height: 16px;
    opacity: 0.5;
    pointer-events: auto;
    position: absolute;
    right: -17px;
    bottom: calc(50% - 10px);
    margin-left: -8px;
    width: 16px;
    transition: opacity 0.3s;
}

.ontodia-halo__navigate:hover {
    opacity: 1;
}

.ontodia-halo__navigate--open {
    background-image: url("../images/connections.png");
}

.ontodia-halo__navigate--closed {
    background-image: url("../images/close-connections.png");
}

.ontodia-halo__delete {
    background-image: url("../images/delete.png");
    background-size: cover;
    cursor: pointer;
    height: 16px;
    opacity: 0.5;
    pointer-events: auto;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 16px;
    transition: opacity 0.3s;
}

.ontodia-halo__delete:hover {
    opacity: 1;
}

.ontodia-halo__expand {
    background-size: cover;
    cursor: pointer;
    height: 16px;
    opacity: 0.5;
    pointer-events: auto;
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    transition: opacity 0.3s;
}

.ontodia-halo__expand:hover {
    opacity: 1;
}

.ontodia-halo__expand--open {
    background-image: url("../images/expand-properties.png");
}

.ontodia-halo__expand--closed {
    background-image: url("../images/collapse-properties.png");
}

foreignObject div {
    outline: none;
}

.ontodia-connections-menu {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.38);
}

.ontodia-connections-menu_bread-crumbs {
    padding: 10px;
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 27px;
    min-height: 27px;
    flex-grow: 0;
}

.ontodia-connections-menu__title-label {
    position: absolute;
    top: -11px;
    left: 10px;
    background: white;
    padding-left: 3px;
	padding-right: 3px;
    border-radius: 6px;
}

.ontodia-connections-menu_search-line {
    padding: 10px;
}

.ontodia-connections-menu_links-list {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #dbdbdb;
    flex-grow: 1;
    margin-bottom: 0px;
}

.ocm_links-list-empty {
    display: flex;
    align-items: center;
}

.ontodia-connections-menu_links-list__empty {
    width: 100%;
    position: relative;
    font-size: x-large;
    color: #cbcbcb;
    text-align: center;
}

.ontodia-connections-menu__loading,
.ontodia-connections-menu__error {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: x-large;
    display: flex;
    color: #cbcbcb;
    align-items: center;
    justify-content: center;
}
.ontodia-connections-menu__loading-objects {
    border: 1px solid gray;
    flex-grow: 1;
    box-shadow: inset 0px 0px 23px -8px gray;
    background-color: whitesmoke;
    position: relative;
    font-size: x-large;
    display: flex;
    color: #cbcbcb;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.ontodia-connections-menu__progress-bar {
    opacity: 0;
    height: 0px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.state-loading {
    height: 10px;
    opacity: 1;
}

.element-in-popup-menu {
    display: flex;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
}
.element-in-popup-menu:hover {
    background-color: #e6e6e6;
}

.element-in-popup-menu.unchecked {
    background-color: rgba(255, 255, 255, 0.79);
}
.element-in-popup-menu_disabled-line {
    pointer-events: none;
    cursor: not-allowed;
}

.element-in-popup-menu__checkbox {
    min-width: 13px;
}

.element-in-popup-menu__link-label {
    flex-grow: 1;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-in-popup-menu {
    display: flex;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 4px;
    box-shadow: 0px 0px 23px -5px #dbdbdb inset;
}

.link-in-popup-menu:hover {
    background-color: whitesmoke;
}

.link-in-popup-menu__link-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-in-popup-menu__count {
    float: right;
    margin-left: 10px;
}
.link-in-popup-menu__count.badge {
    min-width: 21px;
}

.link-in-popup-menu__navigate-button {
    float: right;
    background-image: url("../images/expand-link.png");
    width: 16px;
    height: 16px;
    opacity: 0.5;
    margin-left: 10px;
    min-width: 16px;
    background-size: cover;
}

.link-in-popup-menu__navigate-button:hover {
    opacity: 1;
}

.ontodia-connections-menu_links-list__loading {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: x-large;
    color: #cbcbcb;
}

.ontodia-connections-menu_links-list__hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ontodia-connections-menu_objects-panel {
    flex-grow: 1;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ontodia-connections-menu_objects-panel_bottom-panel {
    height: 25px;
    white-space: nowrap;
}

.ontodia-connections-menu_objects-panel_bottom-panel__count-label {
    height: 25px;
    float: left;
    padding: 0px 5px;
    font-size: larger;
    display: flex;
    align-items: center;
    max-width: 60%;
}

.btn.ontodia-connections-menu_objects-panel_bottom-panel__add-button {
    height: 25px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.ontodia-connections-menu_objects-panel_objects-list {
    border: 1px solid gray;
    flex-grow: 1;
    box-shadow: inset 0px 0px 23px -8px gray;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 5px;
}
