.ontodia-authoring-state {
  &__item-error {
    align-self: flex-end;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    cursor: help;
  }

  &__item-error-icon {
    background: url("../images/font-awesome/exclamation-triangle.svg");
    height: 15px;
    width: 17px;
  }

  &__state-label {
    font-weight: bold;
    margin-right: 5px;
  }

  &__state-cancel {
    color: #3f87a6;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__state-indicator {
    position: absolute;
  }
  &__state-indicator-container {
    position: relative;
  }
  &__state-indicator-body {
    position: absolute;
    white-space: nowrap;
    display: flex;
    align-items: center;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
  }
}
