.ontodia-states-widget {
  &_warning {
    position: absolute;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    
    &__invalid-icon {
      background: url("../images/font-awesome/filled-exclamation-triangle.svg");
      height: 15px;
      width: 17px;
    }
  }



  &__action {
    font-weight: bold;
  }

  &__cancel {
    fill: #3f87a6;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
